body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

* a {
    color: white;
    text-decoration: none;
}

.top-section-wrapper {
    width: 100;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-image: url(backgrounds/hero-image.png);
}
